@charset "UTF-8";
/* CSS Document */

.container {
    margin:0px auto;
}
#sup {
    background-color:orange;
    width:260px;
    font-size:28px;
    padding:10px;
    font-family:futura;
    color:white;
}
h1 {
    font-family:futura;
    color:orange;
    font-size:60px;
    text-align:center;
}
#purple{
    background-color:#CCCCFF ;
}
#manhattan {
    visibility:hidden;
  
  padding-bottom:60px;
     margin-bottom:60px;
}
#bronx {
    visibility:hidden;
      padding-bottom:60px;
        
         margin:0px auto;
 
 
}
#statenisland {
    visibility:hidden;
      padding-bottom:60px;
       margin:0px auto;
       
   
 
}
#brooklyn {
    visibility:hidden;
      padding-bottom:60px;
      margin:0px auto;
 
}
#queens {
    visibility:hidden;
      padding-bottom:60px;
     margin:0px auto;

}

div {
    font-family:futura;
    text-align:center;
    font-size:40px;
}
#formSubmit {
    font-size:24px;
}
